In [144]:
import numpy as np
import pandas as pd
import os
import re
from statistics import mean

In [131]:
#FASTA file parser code

file="FinalProject.fasta"

f=open(file)
sequence_names=[]
sequences=[]
count=0
seq=""

for line in f:
    if line.startswith(">"):
        sequence_names.append(line[1:].strip()) #to remove the > and \n
        count=count+1
        sequences.append("") #initializing the slot for the sequence
    elif not line.startswith('#') and line!="":
        sequences[count-1]=sequences[count-1]+line.strip().replace('-',"")

f.close()

#initialize data
data = {'ID':sequence_names,
        'Sequence':sequences}
  
#dataframe
dfseq = pd.DataFrame(data)

#print
dfseq
dfseq=dfseq.set_index('ID')

In [132]:
#number of sequences in file
len(dfseq)

6

In [133]:
#extracting primers, introns, and exons, and storing then in pandas dataframe
primers=[]
exons=[]
introns=[]

for i in range(0, len(dfseq)):
    p=re.findall('[a-z]+', dfseq.Sequence[i])[0] #the first lowercase is the primer
    primers.append(p)
    
    ex=re.findall('[A-Z]+', dfseq.Sequence[i]) #all uppercases are exons
    exons.append(ex)
    
    intr=re.findall('[a-z]+', dfseq.Sequence[i])[1:-1] #all lowercases are introns: exclude upperstream and lowerstream
    introns.append(intr)
    
#adding primer, exons and introns to the dataframe
dfseq['Primer']=primers
dfseq['Exons']=exons
dfseq['Introns']=introns

#dataframe with seq ID and all its corresponding information
dfseq

,Sequence,Primer,Exons,Introns
ID,,,,
HCN1,gccgaggggaggcgctggggcgcgagggctGAGCCGAGCTGAGCCT...,gccgaggggaggcgctggggcgcgagggct,[GAGCCGAGCTGAGCCTCGCCTAGCTCCGGCAGCCTCAGCTTCAGC...,[gtgagggctcccggtcgccgccccaccctcccttcaggcgcgccc...
HCN2,ccgccccgccccgcccccgcctcccccctCCCTCGGGCTCCGGCCG...,ccgccccgccccgcccccgcctcccccct,[CCCTCGGGCTCCGGCCGGCGGCGGCGGCGGCGGCTCCGCTCCGCA...,[gtaccgcctccgggagggccggtcggcgcgagggggcccggggag...
KCNA1,gggctgcgcttcgagacgcagctcaagaccCTGGCGCAGTTCCCCA...,gggctgcgcttcgagacgcagctcaagacc,[CTGGCGCAGTTCCCCAACACGCTGCTGGGCAACCCTAAGAAACGC...,[gtaagcatgtttgaatctgatacaatttattttataatcgcatgc...
KCNA2,agcgctgaccaagaaaggaagtggtgatggGGCACATAGAAGAGTG...,agcgctgaccaagaaaggaagtggtgatgg,[GGCACATAGAAGAGTGAGCCATCATCTGGTTTCCAGCGCCAAGAC...,[gtgagagaagaggaggggcagcaagggtgagcatgcatgtgtgga...
KCNS3,cctcgctctagcggggcgggaccgacggacAGACCGGCCGACGCGG...,cctcgctctagcggggcgggaccgacggac,[AGACCGGCCGACGCGGGCCACCCCGCTCTCCTCGCCGCCGCGGCG...,[gtacctggctggcgtccccacctccctgcgcgctccggagacttc...
KIR3,gcgcggccgcctgtctgcaccggcagcaccATGTCGCTCATGGTCG...,gcgcggccgcctgtctgcaccggcagcacc,"[ATGTCGCTCATGGTCGTCAGCATGGCGTGTGTTG, GAGTCCACA...",[gtgagtcctggaaaggaatagagggagggagtgccacatcctcct...

In [172]:
#number of introns
dfseq['Introns'].apply(len)

ID
HCN1     7
HCN2     7
KCNA1    1
KCNA2    4
KCNS3    2
KIR3     2
Name: Introns, dtype: int64

In [174]:
#number of exons
dfseq['Exons'].apply(len)

ID
HCN1     8
HCN2     8
KCNA1    2
KCNA2    5
KCNS3    3
KIR3     3
Name: Exons, dtype: int64

In [160]:
#function that returns average string length in a list of strings
#uses mean from statistics package

def avgstrlen(list):
    return mean([len(i) for i in list])

In [161]:
#average intron length per sequence
dfseq['Introns'].apply(avgstrlen)

ID
HCN1     61642.857143
HCN2      3408.428571
KCNA1     4062.000000
KCNA2     8984.000000
KCNS3    25975.500000
KIR3      1668.000000
Name: Introns, dtype: float64

In [162]:
#average exon length per sequence
dfseq['Exons'].apply(avgstrlen)

ID
HCN1     1241.625000
HCN2      427.500000
KCNA1    1309.000000
KCNA2     391.800000
KCNS3     780.333333
KIR3      209.333333
Name: Exons, dtype: float64

In [170]:
#function that calculates the percentage occurence of a letter in a list of strings
def occurencepercentage(letter, list):
    str=''.join(list).upper() #case insensitive, join list elements into a single string
    freq=str.count(letter.upper()) #occurence of letter in string
    perc=100*(float(freq)/float(len(str))) #percentage
    return perc

#test
#ls=["hi","hey","heee"]
#occurencepercentage('h', ls)

33.33333333333333